@{
    ViewBag.Title = "Participantes";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av. Comendador Alberto Bonfiglioli, 2700<br />
    Presidente Prudente - SP - CEP: 19063-390<br />
    <abbr title="Fone">P:</abbr>
    (18)3909-9110
</address>

<address>
    <strong>Danilo Simões Bicas:</strong>   <a href="mailto:20077040@aluno.univesp.br">2007704@aluno.univesp.br</a><br />
    <strong>Rogério Alves de Medeiros:</strong>   <a href=""></a><br />
    <strong>Cyndi Helen Souza Oliveira:</strong>   <a href=""></a><br />
    <strong>Kalel Jamil Alves:</strong>   <a href=""></a><br />
    <strong>Samuel Pedroso Toso Betim:</strong>   <a href=""></a><br />
    <strong>Dalila Rosa Souza Espinhosa:</strong>   <a href=""></a><br />
    <strong>Orientador - José Moreno:</strong> <a href="mailto:jose.moreno@cursos.univesp.br">jose.moreno@cursos.univesp.br</a>
</address>