@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
    <h1>Livro Caixa do MEI</h1>
    <p class="lead">Acabe com a dor-de-cabeça da sua empresa e gaste o seu tempo com o que é importante para você</p>
    <p><a href="https://www.gov.br/empresas-e-negocios/pt-br/empreendedor" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Controle de Acesso</h2>
        <p>
            Faça o cadastro da sua empresa e após o login você pode cadastrar mais usuários para acessarem seu livro caixa.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Categorias</h2>
        <p>Lance suas receitas e despesas do seu livro caixa com as categorias específicas da sua empresa.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Relatórios</h2>
        <p>Visualize facilmente seus lançamentos do livro caixa atráves de relatórios completos</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>